@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

:root{
    --font-family: 'Pixelify Sans', cursive;
    --bg-color:#7D7C7C;
    --primary-color:#001524;
    
}
body{
    background-color: var(--bg-color);
    color: var(primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0%;
    font-family: var(--font-family);
}
h1{
    font-size: 5em;
}

h3{
    font-size: 2em;
    margin: 20px;
}

.mensagem{
    font-size: 1.5em;
    margin: 40px;
}

.box{
    border: 2xp solid var(--primary-color);
    display: inline-block;
    padding: 10px;
    margin: 20px;
}